@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,500;0,700;1,400&family=Concert+One&family=Special+Elite&display=swap');

/* 
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Special Elite', cursive;
 */

/* 
 --imperial-red: #e63946ff;
--honeydew: #f1faeeff;
--powder-blue: #a8dadcff;
--celadon-blue: #457b9dff;
--prussian-blue: #1d3557ff; 
*/





/* HEADER */
* {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1d3557ff !important;
    margin: 0%;


}

.logoHeader {
    width: 8.5em;
    border-radius: 50%;
}

.navbar  {
    display: flex;
    flex-direction: row;
    font-family: 'Special Elite', cursive;
    justify-content: space-evenly;
    width: 100%;
    

}


.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end !important;
}/* {
    justify-content: space-between;
} */

.navbar-toggler{
    background-color: #457b9dff !important;
}

li {

    margin: .3em;


}

ul {
    list-style-type: none;
}


.navLink {
    text-decoration: none;
    font-size: 1.4em ;
    padding: .2em;
    margin: .3em;
    color: #457b9dff ;

}
.navLink:hover  {
    color: #e63946ff ;
    padding: .35em;
    transition: 1s;

}
.dropdown-item{
    color: #457b9dff !important;
    font-size: .9em;
}

.nav-link:hover  {
    color: #e63946ff !important;
    padding: .35em;
    transition: 1s;

}
.dropdown-item:hover{
    color: #e63946ff !important;
    transition: 1s;
}

.subAreas {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* MAIN */


.container {
    margin: 0;
    min-width: 100vw;
    min-height: 90vh;
    background: linear-gradient(180deg, rgba(63,88,101,1) 3%, rgba(96,122,78,1) 11%, rgba(226,206,180,1) 25%);
    background-size: 100%;
    padding: 0;
    
}

h1 {
    padding-top: .2em;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    font-size: 2em;
    font-family: 'Special Elite', cursive;
}

h2{
    font-family: 'Concert One', cursive;
}

/**********************main index***********************/
.bannerIndex{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 1.2em;
}
.contenedor-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenBan{
height: 60em;
position: relative;

}
.bannerTitle{
    position: absolute;
    color: #f1faeeff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}




.tarjeta-index{
    width: 18em;
    height: 24em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorImagen-Index{
    position: relative;
    overflow: hidden;
    width: 15em;
    height: 23em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: .5em;
}
.contenedorIndex{
    display: flex;
    align-items: center;
    justify-content: center;
}



/**********************MAIN NOSOTROS****************/

.mainNos{
    position: relative;
    display: flex;
    justify-content: center;
    
    text-align: center;
    font-family: 'Special Elite', cursive;
    
}
.nosTexto{
    height: 20em;
    width: 40em;
    position: absolute;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nosParrafo{
    padding-top: .3em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}






/* ******************** FOOTER**********************/





footer {

    font-size: 1em;
    color: #457b9dff;
    background-color: #1d3557ff;
    padding-bottom: .5em;
    bottom: 0;

}







/**********************GENERAL************************/

.none{
    display:none;
}
main {
    margin: 0;
    min-height: 80vh;
    
    background-size: 100%;
    
}

h1 {
    padding-top: .2em;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    font-size: 2em;
    font-family: 'Special Elite', cursive;
}


.contenedor-row{
    display: flex;
    flex-direction: row;
}

.columnas-productos{
    position: relative;
    display: grid;
    grid-template-columns: 16em 16em 16em 16em;
    gap: 5px;
    
    
}

.tarjeta{
    width: 15em;
    height: 24em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e2ceb4;
    border-bottom-right-radius: 12%;
    border-top-left-radius: 12%;
    border-bottom-left-radius: 3%;
    border-top-right-radius: 3%;
    filter: drop-shadow(0 0 0.75rem #1d3557ff);



}
.contenedorImagen{
    position: relative;
    overflow: hidden;
    width: 13em;
    height: 23em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: .5em;
    
}
.imagenTarjeta{
    height: 12em;
    
    
}

@media (max-width: 1000px) {
    *{
        font-size: 11px;
    }
    .columnas-productos{
        grid-template-columns: 16em 16em 16em ;
    }
    
}

@media (max-width: 680px) {
    *{
        font-size: 11px;
    }
    .columnas-productos{
        grid-template-columns: 16em 16em ;
    }
    
}

@media (max-width: 400px) {
    *{
        font-size: 10px;
    }
    .columnas-productos{
        grid-template-columns: 16em;
    }
}





/*                       FOOTER              */
footer {

    font-size: 1em;
    color: #457b9dff;
    background-color: #1d3557ff;
}